{{#bs-navbar}}
  <div class="navbar-header">
    {{#bs-navbar-toggle}}
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    {{/bs-navbar-toggle}}
    {{#link-to 'index' class='navbar-brand'}}bfcoder{{/link-to}}
  </div>

  {{#bs-navbar-content}}
    {{#bs-navbar-nav}}
      {{#bs-nav-item}}{{#link-to 'index'}}Home{{/link-to}}{{/bs-nav-item}}
      {{#bs-nav-item}}{{#link-to 'about'}}About me{{/link-to}}{{/bs-nav-item}}
      {{#bs-nav-item}}{{#link-to 'projects'}}Projects{{/link-to}}{{/bs-nav-item}}
    {{/bs-navbar-nav}}
  {{/bs-navbar-content}}

{{/bs-navbar}}

<div class="container-fluid">

  {{outlet}}

  <hr>

  <footer>
    <!-- Stack Overflow -->
    <p>
      <a href="http://stackoverflow.com/users/1477165/bfcoder">
        <img src="http://stackoverflow.com/users/flair/1477165.png?theme=dark" width="208" height="58" alt="profile for bfcoder at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for bfcoder at Stack Overflow, Q&A for professional and enthusiast programmers">
      </a>
    </p>
    <!-- End Stack Overflow -->

    <!-- Twitter -->
    <p>
      <a href="https://twitter.com/bfcoder" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @bfcoder</a>
      {{twitter-widget}}
    </p>
    <!-- End Twitter -->

    <!-- Linkedin -->
    <p>
      <a href="http://www.linkedin.com/pub/james-carbine/b/74/628">
        <img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" alt="View James Carbine's profile on LinkedIn">
      </a>
    </p>
    <!-- End Linkedin -->

    <p>&copy; bfcoder 2015</p>
  </footer>

</div> <!-- /container -->
