{{#bs-navbar type="dark" backgroundColor="dark" position="sticky-top" onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}

  {{navbar.toggle}}
  {{#link-to "index" class="navbar-brand"}}bfcoder{{/link-to}}

  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}About{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "projects"}}Projects{{/nav.link-to}}{{/nav.item}}

      {{#nav.dropdown as |dd|}}
        {{#dd.toggle}}Other <span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}<a target="_blank" rel="noopener" class="dropdown-item" href="http://blog.bfcoder.com">Blog</a>{{/ddm.item}}
          {{#ddm.item}}<a target="_blank" rel="noopener" class="dropdown-item" href="https://github.com/bfcoder">GitHub</a>{{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}
    {{/navbar.nav}}
  {{/navbar.content}}

{{/bs-navbar}}

<main role="main">

  {{outlet}}

  <hr>

  <footer class="mx-3">
    <!-- Stack Overflow -->
    <p>
      <a href="https://stackoverflow.com/users/1477165/bfcoder">
        <img src="https://stackoverflow.com/users/flair/1477165.png?theme=dark" width="208" height="58" alt="profile for bfcoder at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for bfcoder at Stack Overflow, Q&A for professional and enthusiast programmers">
      </a>
    </p>
    <!-- End Stack Overflow -->

    <!-- Twitter -->
    <p>
      <a href="https://twitter.com/bfcoder" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @bfcoder</a>
      {{twitter-widget}}
    </p>
    <!-- End Twitter -->

    <!-- Linkedin -->
    <p>
      <a href="http://www.linkedin.com/pub/james-carbine/b/74/628">
        <img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" alt="View James Carbine's profile on LinkedIn">
      </a>
    </p>
    <!-- End Linkedin -->

    <!-- Badges -->
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1b4bcd34-fa40-4b8d-9000-1fa8ad1ae5a2"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    <!-- End Badges -->

    <p>&copy; bfcoder 2019</p>
  </footer>

</main> <!-- /main -->
