<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">I am bfcoder, aka James Carbine</h1>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <InfoBlock @main-class="mb-4 box-shadow" @title="Profession">
      <ul class="list-unstyled mt-3 mb-4">
        <li>I am a software developer. I write code for <a target="_blank" rel="noopener" href="http://www.atomicjolt.com/">Atomic Jolt</a>. I worked for Tatemae from November 2011 - November 2014. I was hired on with Atomic Jolt in November 2014. Prior to that I worked for the Sam's Club Pharmacy as a Pharmacy Technician for 6 years while I studied Computer Science at USU. Take a look at some of the <LinkTo @route="projects">Projects</LinkTo> I have done.</li>
      </ul>
    </InfoBlock>
  </div>
  <div class="card-deck mb-3 text-center">
    <InfoBlock @main-class="mb-4 box-shadow" @title="Education">
      <ul class="list-unstyled mt-3 mb-4">
        <li>I studied Computer Science at Utah State University in Logan, Utah. I graduated with a BS in Computer Science in May 2013.</li>
      </ul>
    </InfoBlock>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <InfoBlock @main-class="mb-4 box-shadow" @title="Experience">
      <ul class="list-unstyled mt-3 mb-4">
        <li><a target="_blank" rel="noopener" href="http://rubyonrails.org/">Ruby on Rails</a></li>
        <li><a href="http://yuiblog.com/crockford/">Javascript</a> (including <a target="_blank" rel="noopener" href="http://jquery.com/">jQuery</a>, <a target="_blank" rel="noopener" href="http://emberjs.com/">Ember.js</a>, <a target="_blank" rel="noopener" href="http://coffeescript.org/">CoffeeScript</a>, <a target="_blank" rel="noopener" href="http://nodejs.org/">Node.js</a>, and <a target="_blank" rel="noopener" href="https://facebook.github.io/react/">React.js</a>)</li>
        <li><a target="_blank" rel="noopener" href="http://www.html5rocks.com/">HTML5</a></li>
        <li><a target="_blank" rel="noopener" href="http://www.iron.io/">Iron.io</a></li>
        <li>C#</li>
        <li>C++</li>
        <li><a target="_blank" rel="noopener" href="http://www.phoenixframework.org/">Phoenix</a></li>
        <li>postgres</li>
      </ul>
    </InfoBlock>
  </div>
</div>
