<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">I am bfcoder, aka James Carbine</h1>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class="mb-4 box-shadow" title="Profession"}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>I am a software developer. I write code for <a target="_blank" rel="noopener" href="http://www.atomicjolt.com/">Atomic Jolt</a>. I worked for Tatemae from November 2011 - November 2014. I was hired on with Atomic Jolt in November 2014. Prior to that I worked for the Sam's Club Pharmacy as a Pharmacy Technician for 6 years while I studied Computer Science at USU. Take a look at some of the {{#link-to "projects"}}Projects{{/link-to}} I have done.</li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class="mb-4 box-shadow" title="Education"}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>I studied Computer Science at Utah State University in Logan, Utah. I graduated with a BS in Computer Science in May 2013.</li>
      </ul>
    {{/info-block}}
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class="mb-4 box-shadow" title="Experience"}}
      <ul class="list-unstyled mt-3 mb-4">
        <li><a target="_blank" rel="noopener" href="http://rubyonrails.org/">Ruby on Rails</a></li>
        <li><a href="http://yuiblog.com/crockford/">Javascript</a> (including <a target="_blank" rel="noopener" href="http://jquery.com/">jQuery</a>, <a target="_blank" rel="noopener" href="http://emberjs.com/">Ember.js</a>, <a target="_blank" rel="noopener" href="http://coffeescript.org/">CoffeeScript</a>, <a target="_blank" rel="noopener" href="http://nodejs.org/">Node.js</a>, and <a target="_blank" rel="noopener" href="https://facebook.github.io/react/">React.js</a>)</li>
        <li><a target="_blank" rel="noopener" href="http://www.html5rocks.com/">HTML5</a></li>
        <li><a target="_blank" rel="noopener" href="http://www.iron.io/">Iron.io</a></li>
        <li>C#</li>
        <li>C++</li>
        <li><a target="_blank" rel="noopener" href="http://www.phoenixframework.org/">Phoenix</a></li>
        <li>postgres</li>
      </ul>
    {{/info-block}}
  </div>

  <div class="card-deck mb-3 text-center">
    {{#info-block main-class="mb-4 box-shadow" title="Barefeet"}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Yes indeed, I am a barefoot advocate. I started going barefoot in the Fall of 2010. I wear shoes on very few occasions, and not for long when I do. When I ride my motorcycle, I wear shoes. When I'm working with the horses, I wear shoes. When I'm working with power tools/machinery(lawn mower), I wear shoes. But pretty much other than that, I have nixed shoes. I especially dislike shoes with a heal. My wife owns no high heels. Period. I hiked all over Moab and Arches National Park while being barefoot. I've done 5 mile hikes through the mountains barefoot. I love being barefoot. I believe my body has strengthened itself since going barefoot. Back pains have gone, unless of course I have done something to incite pain. Like sleeping on a rock in the middle of my back I'm sure would incite pain. Barefeet FTW!</li>
      </ul>
    {{/info-block}}
  </div>
</div>
