<div class="jumbotron">
  <div class="container">
    <p>I am bfcoder. aka James Carbine</p>
    <p>{{#link-to 'about' class='btn btn-primary btn-lg'}}About me &raquo;{{/link-to}}</p>
  </div>
</div>
