<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">My Projects</h1>
    <p class="lead">Here are the projects I have been involved with.</p>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='Open Tapestry'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Finding open educational resources and clipping them for others to see and use. This web app allows teachers to gather open educational resources from about the web, and place them into tapestries for their students to view. Or perhaps make lessons to show the class. Possibilities are numerous. It can also be very useful to corporations wanting to train their employees and give them quizzes to make sure they understand the training. Anyone can build up a course for someone to take.</li>
        <li>Technology: Ruby on Rails, Javascript, mysql</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://www.opentapestry.com/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title="Hacking Instructure's Canvas"}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>I took Instructure's Canvas and modified it for the EDC Maine EM2 Project. It now has the ability to enter misconception probabilities for an assessment. So when the student takes an assessment, it calculates the probability that they have a misconception. It does not show a score to the student or the teacher. The teacher can pull up a report that shows them which students have misconceptions about mathematics. I also incorporated new features into taking an assessment. The student can type in an explanation. They can also draw an explanation as to why they feel the answer they chose is correct.</li>
        <li>Technology: Ruby on Rails, Javascript, mysql</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://maine.edc.org/file.php/1/em2/em2.html">View details &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='Saylor.org'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Online free educational institution called <a target="_blank" href="http://www.saylor.org/">Saylor.org</a>. I helped develop the <a target="_blank" href="http://eportfolio.saylor.org/"> ePortfolio</a> for the site.</li>
        <li>Check it out if you want some free education. Very cool.</li>
        <li>Technology: Ruby on Rails, Javascript, mysql</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://eportfolio.saylor.org/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='Matti - graph theory'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Created some interactive modules to teach students about graph theory. This included Euler Circuits, Minimum Spanning Tree - Kruskal's Algorithm, and Map Coloring. The modules are included with this book &QUOT;<a target="_blank" href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-EHEP002457.html">The Heart of Mathematics: An Invitation to Effective Thinking, 4th Edition</a>.&QUOT;</li>
        <li>Technology: HTML5, Javascript (KineticJS)</li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='Matti - Base Blocks'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Base Blocks had previously been written by my boss <a target="_blank" href="http://www.joelduffin.com/">Joel Duffin</a> however it was written in Java. It can be found on the <a target="_blank" href="http://enlvm.usu.edu/ma/nav/index.jsp">eNLVM</a>: <a target="_blank" href="http://enlvm.usu.edu/ma/nav/activity.jsp?sid=nlvm&cid=4_2&lid=152">Base Blocks</a>. This made it useless to be ran on an iOS device. So I was enlisted to re-write the code in HTML5 so it could be ran on mobile devices as well. I wrote a lot of it and Kami Wilson took over the project so I could focus on other projects.</li>
        <li>Technology: HTML5, Javascript (KineticJS)</li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='Octopi'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Another project that wanted Instructure's Canvas modified for use in an adaptive math testing environment. I made the system work, however the guy never got the funding to complete it.</li>
        <li>Technology: Ruby on Rails, Javascript, mysql</li>
      </ul>
    {{/info-block}}
  </div>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='Open Assessments'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>This is a project that we built and was funded by MIT. It is a way for anyone to create online assessments and embed them anywhere on the web. Put them inside Instructure's Canvas, or put them on your blog. Doesn't really matter. After people have taken the assessment, you can view the statistics. It was built with Ruby on Rails. We will switch it over to Ruby on Rails combined with Ember.js eventually.</li>
        <li>Technology: Ruby on Rails, Javascript</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://www.openassessments.com/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='CMAT'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>CMAT stands for Concept Map Authoring Tool. You can build concept maps with it.</li>
        <li>Technology: Ruby on Rails, HTML5, Javascript (KineticJS, Ember)</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://cmat.herokuapp.com/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='OEIT Player'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>I rebuilt the MIT OEIT Player to work with html5 using JW Player 6. If you check it out, go to the bottom left video of Walter Lewin for a good example. I made it so they can easily put new videos together and using data tags set the parameters of the video.</li>
        <li>Technology: HTML5, Javascript, JW Player 6</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://iihs.herokuapp.com/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='OEIT Player Authoring'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>I built an authoring interface for MIT to build the html for the players.</li>
        <li>Technology: HTML5, Javascript</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://iihs.herokuapp.com/admin/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='panOpen'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>panOpen is an app that an instructor can create a course with a book. The students can read the book and take quizzes for the chapters. The instructor can view the statistics for each student in the class. Statistics include the time they have spent reading the book and each of their attempts at the quizzes. I also wrote a node app that accepts an image request with user and book id's. It stores that information in Redis. While the student is reading the book, every 15 seconds it sends a request for the image, thus recording that they are reading the book. I then wrote an iron.io task that gets all that data out of Redis and crunches it to compute how long they have been reading for. It then sends that data to rails to store in the database.</li>
        <li>After some time, we decided we needed a faster system. So I converted from a node app to a phoenix elixir app. We no longer send image requests. We just POST to it with CORS as it is on a separate domain, and store it in postgres. During the POST I do an upsert on the data. Each day gets it own entry in the database. So now I no longer need iron.io to compute the data. I can just query the database on demand.</li>
        <li>Technology: Ruby on Rails, Javascript (Ember, React, Phoenix), postgres</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://www.panopen.com/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='FreightLink Tracker'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>FreightLink Tracker is an app that enables you to create and track shipments via Truck, Ship, Plane, and Train. I have been re-implementing the shipments pages from Rails to Ember.</li>
        <li>Technology: Ruby on Rails, Javascript (Ember), postgres</li>
      </ul>
    {{/info-block}}
  </div>
</div>

<h1>School Projects</h1>
<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='CS5460 Final Project'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>My CS5460 Computer Securities final project for authenticating a user.</li>
        <li>Technology: Ruby on Rails, Javascript</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://finalproject.bfcoder.com/">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='CS5100 HTML5 Project'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Made a site with Scott Biery that highlighted HTML5 and gave some examples. I wrote the two HTML5 canvas examples and Scott formatted the site and put together the HTML5 examples page. It was a lot of fun to write the javascript for this project. And yes, it works with an iPad. :]</li>
        <li>Technology: HTML5</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://www.ninjascott.com/CS5100/about-html5.php">Check it out &raquo;</a></li>
      </ul>
    {{/info-block}}
  </div>
</div>

<h1>Volunteer Projects</h1>
<div class="container">
  <div class="card-deck mb-3 text-center">
    {{#info-block main-class='mb-4 box-shadow' title='The Living Planet Aquarium'}}
      <ul class="list-unstyled mt-3 mb-4">
        <li>Currently building a page to highlight a Sea Turtle that has been rescued.</li>
        <li>Technology: HTML5, Javascript (Ember)</li>
        <li><a target="_blank" class="mt-4 btn btn-lg btn-outline-primary" href="http://www.thelivingplanet.com/index.php">The Living Planet Aquarium</a></li>
      </ul>
    {{/info-block}}
  </div>
</div>
