body {margin:0px; padding:0px; vertical-align:top; background-color:#313F4E;}
td {font-size:12px; font-family:Tahoma; color:#E1ECF5; vertical-align:top; }
a {border:none; text-decoration:none; color:#A7CC00;}
a:hover {text-decoration:none;}
form {margin:0px; padding:0px;}
img {border:0px;}
h1 {border:none; text-decoration:none; color:#A7CC00; font-size:14px; font-family:Tahoma; margin: 0px; padding: 0px;}
/****************************************************/
.bigwhite {border:none; text-decoration:none; color:#FFFFFF; font-size:18px; font-family:Tahoma; margin: 0px; padding: 0px;}
.whitetitle {border:none; text-decoration:none; color:#FFFFFF; font-size:14px; font-family:Tahoma; margin: 0px; padding: 0px;}
.h_link{color:#ECF0F5; font-size:10px; background:url(images/h_pimp.gif) no-repeat left; padding-left:18px; text-decoration:none;}
.h_link:hover {text-decoration:underline;}

.quicksearch td {font-size:10px; font-family:Tahoma; color:#000070; line-height:14px; vertical-align:top;}
.quicksearch input{font:10px Arial, Geneva, sans-serif; color:#000070;}
.quicksearch select{font:10px Arial, Geneva, sans-serif; color:#000070;}
.quicksearch a {border:none; text-decoration:underline; color:#000070;}

.logo {font-family:Tahoma; font-size:12px; color:#404040; padding-top:0px; padding-left:80px;}
.logo a {font-family:Tahoma; font-size:12px; color:#404040; text-decoration:none;}
.logo a:hover {font-family:Tahoma; font-size:12px; color:#404040; text-decoration:underline;}

.story {padding: 5px 10px 10px 10px; background-color:#FFFFFF; font-size:12px; font-family:Tahoma; color:#000000;}
.story td {font-size:12px; font-family:Tahoma; color:#000000; vertical-align:top;}
.story th {font-size:12px; font-family:Tahoma; color:#000000; vertical-align:top;}
.story b {font-size:12px; font-family:Tahoma; color:#000000;}
.story a {border:none; text-decoration:none; color:#0000A0;}
.story p {font-size:12px; font-family:Tahoma; color:#000000;}
.story h1 {border:none; text-decoration:none; color:#0000A0; font-size:14px; font-family:Tahoma; margin: 0px; padding: 0px;}

.normaltext {color:#000000; font-size:12px; }
.footertxt {color:#E1ECF5; line-height:15px;}
.footerlink {color:#E1ECF5; text-decoration:underline;}
.footerlink:hover{text-decoration:none;}
/****************************************************/
.link1 {text-decoration:underline;color:#A7CC00; background:url(images/pimp1.gif) no-repeat left bottom; padding-left:15px;}
.link1:hover {text-decoration:none;}
/****************************************************/
.myform {width:240px; margin:0px; padding:0 0 0 3px; height:20px; vertical-align:middle; font-size:11px;font-family:Tahoma; color:#000000; background:#F3FAFF; border:solid 1px #6B8FA0;}
.myform2 {width:221px; margin:0px; padding:0 0 0 3px; height:20px; vertical-align:middle; font-size:11px;font-family:Tahoma; color:#000000; background:#F3FAFF; border:solid 1px #6B8FA0;}
/****************************************************/
.txt1 {color:#546D83; font-size:11px;}
