.liquid {
	padding:10px 0;
}

.liquid .previous {
	display:block;
	height:60px;
	width:40px;
	background-image:url('http://www.proagentwebsites.com/carousel/images/previous.png');
	float:left;
	margin:0;
	padding:0;
}

.liquid .next {
	display:block;
	height:60px;
	width:40px;
	background-image:url('http://www.proagentwebsites.com/carousel/images/next.png');
	float:right;
	margin:0;
	padding:0;
}

.liquid ul li {
	width:92px;
	padding:0 2px;
	margin:0;
	overflow:hidden;
}

.liquid ul li a img {
	-moz-box-shadow: 5px 5px 3px #222;
   	-webkit-box-shadow: 5px 5px 3px #222;
   	box-shadow: 5px 5px 3px #222;
   	border: 0px;
   	padding: 0px;
}

  