body {
  width: 100%;
  position: relative;
  margin: 0px;
  overflow: scroll;
}

.world {
  position: absolute;
}

.wording-left {
  position: absolute;
  width: 4em;
  padding: .5em;
  left: -500px;
}

.wording-right {
  position: absolute;
  width: 4em;
  padding: .5em;
  left: 2000px;
}

.north_america {
  top: 300px;
}

.south_america {
  top: 570px;
}

.africa {
  top: 425px;
}

.europe {
  top: 240px;
}

.asia {
  top: 270px;
}

.australia {
  top: 650px;
}

.antartica {
  top: 860px;
}