body {
  width: 100%;
  position: relative;
  margin: 0px;
  overflow: scroll;
}

.world {
  position: absolute;
}

.wording-left {
  position: absolute;
  width: 4em;
  padding: .5em;
  left: -500px;
}

.wording-right {
  position: absolute;
  width: 4em;
  padding: .5em;
  left: -500px;
}

.animal_image {
  position: absolute;
  padding: .5em;
}

.fact_image {
  position: absolute;
  padding: .5em;
}

.north_america {
  top: 242px;
}

.south_america {
  top: 530px;
}

.africa {
  top: 425px;
}

.europe {
  top: 240px;
}

.asia {
  top: 270px;
}

.australia {
  top: 650px;
}

.antartica {
  top: 860px;
}

.leopard_seal {
  top: 596px;
  left: 672px;
  display: none;
  opacity: 0;
}

.leopard_seal_fact {
  top: 418px;
  left: 589px;
  display: none;
}

.shark {
  top: 435px;
  left: 1158px;
  display: none;
  opacity: 0;
}

.shark_fact {
  top: 260px;
  left: 1180px;
  display: none;
}

.green_sea_turtle {
  top: 330px;
  left: 470px;
  display: none;
  opacity: 0;
}

.green_sea_turtle_fact {
  top: 135px;
  left: 470px;
  display: none;
}

#audio1 {
  display: none;
}